/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 20%;
  }


  body {
    background-color: #BD9F79;
}


/* Navbar*/

.navbar {
  background-color: #BD9F79 ; 
  }

ul {
      font-size: 30px;
      font-family: 'Lato', sans-serif;
      text-align: center;     
}

.nav-link {
  color: black ;
}

/* Footer */

footer {
  position: static;
  width: 100%;
  bottom: 0;
  color: white;
  text-align: center; }
  
  @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
  
   footer {
       background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
       font-family: 'Rubik', sans-serif;
       background: #455A64;
       height: 100 !important
   }
  
   .container-fluid {
       overflow: hidden;
       margin-top: 100px;
       background: #262626;
       color: #627482 !important;
       margin-bottom: 0;
       padding-bottom: 0
   }
  
   small {
       font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
   }
  
   .bold-text {
       color: #989c9e !important
   }
  
   .mt-55 {
       margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
   }
  
   h3 {
       font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
   }
  
   .social {
       font-size: 21px !important
   }
  
   .rights {
       font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
   }