/* Navbar*/

.navbar {
    background-color: #BD9F79 ; 
    }

ul {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        text-align: center;     
}

.nav-link {
    color: black ;
}



/* Footer */

footer {
	position: static;
	width: 100%;
	bottom: 0;
	color: white;
	text-align: center; }
	
	@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
	
	 footer {
		 background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
		 font-family: 'Rubik', sans-serif;
		 background: #455A64;
		 height: 100 !important
	 }
	
	 .container-fluid {
		 overflow: hidden;
		 margin-top: 100px;
		 background: #262626;
		 color: #627482 !important;
		 margin-bottom: 0;
		 padding-bottom: 0
	 }
	
	 small {
		 font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
	 }
	
	 .bold-text {
		 color: #989c9e !important
	 }
	
	 .mt-55 {
		 margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
	 }
	
	 h3 {
		 font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
	 }
	
	 .social {
		 font-size: 21px !important
	 }
	
	 .rights {
		 font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
	 }


/* Login Form */


/* Bordered form */
  
  /* Full-width inputs */
  input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
	opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
	  height: 100px;
	border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
	padding: 16px;
  }
  
  /* The "Forgot password" text */
  span.psw {
	float: right;
	padding-top: 16px;
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
	span.psw {
	  display: block;
	  float: none;
	}
	.cancelbtn {
	  width: 100%;
	}
  }

























}

body {
    background-color: #BD9F79;
}