

/* Main Page Content */

body {
    background-color: #BD9F79;
}



section {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container.mpc {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

.column-33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

.large-font {
  font-size: 48px;
}

.xlarge-font {
  font-size: 64px
}

.button.mpc {
  border: none;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  background-color: #04AA6D;
}

.mpc img {
  display: block;
  height: auto;
  max-width: 350px;
  margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  .mpc img {
    margin: auto;

  }
}


#mpch1 {
    text-align: center;
    padding: 60px;
    font-size: 50pt;
}


/* Navbar*/

.navbar {
    background-color: #BD9F79 ; 
    }

ul {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
        text-align: center;     
}

.nav-link {
    color: black ;
}


/* Main Page Content */

.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  
  .price {
    color: grey;
    font-size: 22px;
    text-align: right;
  }
  
  .cards button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .cards button:hover {
    opacity: 0.7;
  }



  /* Featured Products */

.featured-products {
    text-align: center;
    padding: 60px;
    
}

.featured-products h1 {
    font-size: 40pt;
}


/* Logo */

#logo {
    float: left;
    position: relative;
}


/* Footer */

footer {
position: static;
width: 100%;
bottom: 0;
color: white;
text-align: left; }

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

 footer {
     background: linear-gradient(0deg, #fff, 50%, #DEEEFE);
     font-family: 'Rubik', sans-serif;
     background: #BD9F79;
     height: 100 !important
 }

 .container-fluid {
     overflow: hidden;
     margin-top: 5px;
     background: black;
     color: #627482 !important;
     margin-bottom: 0;
     padding-bottom: 0
 }

 small {
     font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
 }

 .bold-text {
     color: #989c9e !important
 }

 .mt-55 {
     margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
 }

 h3 {
     font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
 }

 

 


/* Card img */

.cards img {
    height: 300px;
}



/* Product Page Header */


.productheader h1 {
  text-align: center;
  font-size: 50pt;
}

.productheader h2 {
  text-align: center;
  font-size: 40pt;
}

.productheader {
  padding: 70px;
}